* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: url("https://media.gettyimages.com/id/503785245/vector/world-map-in-gray-with-each-country-names.jpg?s=612x612&w=gi&k=20&c=FAt0y7V6U_tFHjBcCHSm6vJ4EF4cxuNY-LULzGWDjwU=") no-repeat;
    background-size: cover;
}

p {
    color: rgb(12, 11, 11);
    text-align: center;
}

span {
    font-size: 30px;
}

img {
    border-radius: 50%;
}

.top-box-section p {
    color: black;
    font-size: 14px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header, .number-section, .box-section {
    width: 100%;
    margin-bottom: 50px;
}

.main-phrase {
    font-size: 40px;
    text-align: center;
    color: rgb(17, 16, 16);
}

.number-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 250px;
    background-color: rgb(226, 236, 246, 0.5);
    margin: 10px;
}

.middle-box {
    margin-top: 100px;
}

.top-box-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    height: 70%;
    width: 100%;
}

.bottom-box-section {
    text-align: center;
    padding: 10px;
    height: 30%;
    width: 100%;
}

.bg-color-1 {
    background-color: rgb(99, 159, 118);
}

.bg-color-2 {
    background-color: rgb(203, 89, 203);
}

.bg-color-3 {
    background-color: rgb(106, 129, 210);
}

@media screen and (max-width:600px) {
    .number-section{
        display: none;
    }

    .middle-box {
        margin-top: 10px;
    }

    .box-section {
        display: flex;
        flex-wrap: wrap;
    }
}